html, body, #root, .App {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  padding-top: 90px;
}

footer {
  background: #141414;
  color: white;
  width: 100vw;
  font-family: "Nunito", sans-serif;
  padding: 24px 8px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer p {
  margin: 0;
}
footer > div {
  display: grid;
  gap: 12px;
  padding: 0 8px;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  width: 100vw;
  max-width: 962px;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  margin: 0;
  background: #141414;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
}
header svg {
  fill: white;
}
header a {
  text-decoration: none;
  color: white;
}

.Logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Logo h2 {
  margin: 0;
}
.Logo svg {
  margin-right: 8px;
  height: 20px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav a {
  font-size: 1.2em;
  margin-right: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav svg {
  height: 20px;
}

.Jumbotron {
  height: 40vh;
  max-width: 996px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Jumbotron-fade {
  color: transparent;
}
.Jumbotron div {
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Quote {
  font-family: "Source Serif 4", sans-serif;
  text-align: center;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Proof {
  padding: 48px;
  margin: 48px 0 0 0;
  color: white;
  background: #0f5c70;
  box-shadow: 0 0 16px #141414;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Proof div {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 36px;
}
.Proof h1 {
  font-size: 3em;
  margin-bottom: 48px;
}
.Proof h3 {
  display: flex;
  font-size: 1.5em;
  flex: 1 200px;
}

.Recordings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px;
  width: 100vw;
}
.Recordings h1 {
  margin-top: 0;
}
.Recordings > div {
  width: 100vw;
  padding: 48px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .Recordings > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 24px;
  }
}
.Recordings > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1 300px;
  padding: 48px 24px;
  width: 95vw;
  text-align: center;
  box-shadow: 0 0 20px #141414;
}
@media screen and (min-width: 375px) {
  .Recordings > div > div {
    padding: 48px;
  }
}
@media screen and (min-width: 768px) {
  .Recordings > div > div {
    width: auto;
  }
}
.Recordings > div > div h2, .Recordings > div > div h3 {
  margin: 0;
}
.Recordings > div > div img {
  width: 80vw;
  max-width: 200px;
  box-shadow: 0 0 8px #141414;
  margin-bottom: 8px;
}
.Recordings > div > div iframe {
  margin-bottom: 8px;
  max-width: 100%;
}

.Action {
  background: #9D3115;
  font-size: 1.2em;
  color: white;
  border: none;
  padding: 24px;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.Action:hover {
  background: #e45834;
}

.Store {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 90px - 180px);
}
.Store > h1 {
  font-size: 3em;
}
.Store > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .Store > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
}

.Cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 90px - 180px);
}

.Piece {
  flex: 1 300px;
  cursor: pointer;
  box-shadow: 0 0 10px #141414;
  padding: 24px;
  color: black;
}
@media screen and (min-width: 996px) {
  .Piece:hover {
    color: white;
    background: #34c0e4;
  }
}
.Piece h1 {
  text-transform: capitalize;
}
.Piece h1, .Piece h2, .Piece h3, .Piece h4, .Piece h5, .Piece h6 {
  margin: 0;
}
.Piece ul {
  list-style: none;
  padding: 0;
}
.Piece ul li {
  font-size: 1em;
}

.PieceFeature {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 90px - 180px);
}

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

a:hover, svg:hover {
  color: #34c0e4;
  fill: #34c0e4;
}

.active {
  color: #34c0e4;
  fill: #34c0e4;
}

.uppercase {
  text-transform: uppercase;
}

.cap {
  text-transform: capitalize;
}

/*# sourceMappingURL=App.css.map */
