html, body, #root, .App {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  padding-top: 90px;
}

footer {
  background: #141414;
  color: white;
  width: 100vw;
  font-family: "Nunito", sans-serif;
  padding: 24px 8px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column-reverse;
}
footer p {
  margin: 0;
}
footer svg {
  fill: white;
  width: 44px;
  height: 44px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: fill 0.3s;
}
footer svg:hover {
  fill: #8eccf0;
}
footer > div {
  display: grid;
  gap: 12px;
  padding: 0 8px;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  width: 100vw;
  max-width: 962px;
}

header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100vw;
  margin: 0;
  background: #141414;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
}
header svg {
  fill: white;
}
header a {
  text-decoration: none;
  color: white;
}

.Logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Logo h2 {
  margin: 0;
}
.Logo svg {
  margin-right: 8px;
  height: 20px;
  fill: #ea9361;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav a {
  font-size: 1.2em;
  margin-right: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (min-width: 768px) {
  nav a {
    margin: 0;
    margin-left: 24px;
  }
}
nav svg {
  height: 20px;
  transition: all 0.3s ease;
}
nav svg:hover {
  fill: #8eccf0;
}

.Jumbotron {
  max-width: 996px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Jumbotron-fade {
  color: transparent;
}
.Jumbotron div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Source Serif 4", sans-serif;
  text-align: center;
  max-width: 95vw;
  padding: 8px;
  height: 45vh;
}
@media screen and (min-width: 768px) {
  .Quote {
    height: 35vh;
  }
}

.Proof {
  padding: 48px;
  margin: 48px 0 0 0;
  color: white;
  background: #092e43;
  box-shadow: 0 0 16px #141414;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Proof div {
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 48px;
}
.Proof h3 {
  width: auto;
  padding: 0;
  margin: 0;
}
.Proof h1 {
  font-size: 3em;
  margin-bottom: 48px;
}

.Recordings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px;
  width: 100vw;
}
.Recordings h1 {
  margin-top: 0;
}
.Recordings > div {
  width: 100vw;
  padding: 48px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .Recordings > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 24px;
  }
}

.Recordings .hidden {
  transform: translate(-20%);
  box-shadow: none;
  color: transparent;
}
.Recordings .hidden img {
  opacity: 0;
}
.Recordings .hidden iframe {
  opacity: 0;
}

.Recording {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1 300px;
  padding: 48px 24px;
  width: 95vw;
  text-align: center;
  box-shadow: 0 8px 16px #141414;
  transform: translate(0);
  transition: all 0.3s ease-in;
}
@media screen and (min-width: 375px) {
  .Recording {
    padding: 48px;
  }
}
@media screen and (min-width: 768px) {
  .Recording {
    width: auto;
  }
}
.Recording h2, .Recording h3 {
  margin: 0;
}
.Recording img {
  width: 80vw;
  max-width: 200px;
  box-shadow: 0 0 8px #141414;
  margin-bottom: 8px;
  opacity: 1;
  transition: all 0.3s ease;
}
.Recording iframe {
  margin-bottom: 8px;
  max-width: 100%;
  opacity: 1;
  transition: all 0.3s ease;
}

.Action {
  overflow: hidden;
  display: inline-block;
  position: relative;
  z-index: 1;
  color: white;
  padding: 24px;
  border-radius: 12px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1em;
}
.Action::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #9d4715;
  left: 0;
  bottom: 0;
  z-index: -2;
}
.Action::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  background: #ca5b1b;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: all 0.3s;
}
@media screen and (min-width: 996px) {
  .Action:hover::before {
    width: 100%;
  }
}

.Store {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 90px - 180px);
  width: 100vw;
}
.Store > h1 {
  font-size: 3em;
}

.Piece {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 300px;
  box-shadow: 0 0 10px #141414;
  padding: 48px 0;
  margin-bottom: 24px;
  color: black;
  transition: background 0.3s ease;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .Piece {
    margin: 0;
  }
}
.Piece h1 {
  text-transform: capitalize;
  margin: 0 0 24px 0;
  color: #9d4715;
}
.Piece h2 {
  margin: 0 0 8px 0;
}
.Piece ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.Piece ul li {
  font-size: 1em;
}
.Piece > div {
  width: 100%;
  height: 100%;
}
.Piece .data {
  display: grid;
  text-align: left;
  grid-template-columns: 50% 50%;
  width: 100%;
  justify-items: end;
}
.Piece .data img {
  grid-column: 1/2;
  width: 100%;
  max-height: 140px;
  width: auto;
}
.Piece .data > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  padding: 0 8px;
  justify-content: space-between;
  justify-self: start;
}
.Piece .data ul {
  grid-column: 2/3;
}

.PieceFeature {
  background: tomato;
}

.Home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 90px - 180px);
}
.Home > .Action {
  margin: 16px 0 64px 0;
}

.BreadCrumb {
  margin-bottom: 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.BreadCrumb a {
  color: #9d4715;
  width: fit-content;
}
.BreadCrumb span {
  margin: 0 8px;
}

.PieceMenu {
  width: 95vw;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .PieceMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    align-items: stretch;
  }
}

.Org {
  display: flex;
  font-size: 1.5em;
  flex: 1 200px;
  transition: transform 0.2s;
}
.Org span {
  transition: transform 0.5s ease-out, color 0.5s ease;
  transform: translate(0);
  color: white;
}
.Org .hidden {
  transform: translate(-20%);
  color: transparent;
}

.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 90px - 180px);
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
  padding: 24px;
  align-items: flex-start;
}
.About div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.About img {
  width: 200px;
  border-radius: 50%;
}
.About h1 {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  color: #8eccf0;
}

.active {
  color: #8eccf0;
  fill: #8eccf0;
}

.uppercase {
  text-transform: uppercase;
}

.cap {
  text-transform: capitalize;
}

/*# sourceMappingURL=App.css.map */
