@use '../utilities/_mixins'
@use '../utilities/_var'

$gutter: 24px
$img-width: 200px
  
.About
  @include mixins.content-min-height
  width: 100%
  max-width: 800px
  display: grid
  grid-template-columns: repeat(auto-fit, minmax($img-width, 1fr))
  gap: $gutter
  padding: $gutter
  align-items: flex-start
  div
    @include mixins.flex-col
  img
    width: $img-width
    border-radius: 50%
  h1
    margin: 0

  