.Org
  display: flex
  font-size: 1.5em
  flex: 1 200px
  span
    transition: all .3s ease-in
    transform: translate(0)
    color: white
  .hidden
    transform: translate(-20%)
    color: transparent
