@use '../utilities/_mixins'
@use '../utilities/_var'
  
.Proof
  padding: 48px
  margin: 48px 0 0 0
  color: white
  background: darken(complement(var.$color-accent), 10%)
  box-shadow: 0 0 16px var.$color-primary
  width: 100vw
  @include mixins.flex-col 
  div
    overflow: hidden
    @include mixins.display-items 
      align-items: stretch
      gap: 36px
    
  h1
    font-size: 3em
    margin-bottom: 48px
