@use '../utilities/_mixins'
@use '../utilities/_var'
  
.Recordings
  @include mixins.flex-col 
  margin: 48px
  width: 100vw
  h1
    margin-top: 0
  > div
    width: 100vw
    padding: 48px
    padding-bottom: 0
    @include mixins.flex-col 
      gap: 24px
    @media screen and (min-width: var.$break-tab)
      @include mixins.display-items
        align-items: stretch
        gap: 24px