@use './_var'


  
@mixin flex-row($just: null)
  display: flex
  flex-direction: row
  align-items: center
  justify-content: $just
  @content

@mixin flex-col($just: null)
  display: flex
  flex-direction: column
  align-items: center
  justify-content: $just
  @content

@mixin display-items($bg: null)
  @include flex-row
  background: $bg
  flex-wrap: wrap
  @content

@mixin content-min-height
  @include flex-col
  min-height: var.$height-between