// colors
$color-primary: #141414
$color-accent: #ffb133
$color-action: #b64c00
$color-bg-alt: #e2e2e2
// fonts
$font-stack-nunito: 'Nunito', sans-serif
$font-stack-source: 'Source Serif 4', sans-serif
// breaks
$break-tab: 768px
$break-dt: 996px
// rads
$rad-xxs: 4px
$rad-xs: 8px
$rad-s: 12px
// widths
$width-max-layout: 996px